autoflake==2.3.1 # Vulnerabilities: None
autopep8==2.3.2 # Vulnerabilities: None
black==25.9.0 # Vulnerabilities: None
bumpcalver==2025.10.11.2 # Vulnerabilities: None
devsetgo-lib==2025.10.4.2 # Vulnerabilities: None
fastapi[all]==0.120.0 # From 0.119.0 | Vulnerabilities: None
flake8==7.3.0 # Vulnerabilities: None
Flask==3.1.2 # Vulnerabilities: None
genbadge[all]==1.1.2 # Vulnerabilities: None
hatchling==1.27.0 # Vulnerabilities: None
isort==7.0.0 # Vulnerabilities: None
mike==2.1.3 # Vulnerabilities: None
mkdocs-material==9.6.22 # Vulnerabilities: None
mkdocs-print-site-plugin==2.8 # Vulnerabilities: None
mkdocstrings[python]==0.30.1 # Vulnerabilities: None
packaging==25.0 # Vulnerabilities: None
pre-commit==4.3.0 # Vulnerabilities: None
pydantic-extra-types[all]==2.10.6 # Vulnerabilities: None
pymdown-extensions==10.16.1 # Vulnerabilities: None
pytest==8.4.2 # Vulnerabilities: None
pytest-asyncio==1.2.0 # Vulnerabilities: None
pytest-cov==7.0.0 # Vulnerabilities: None
pytest-html==4.1.1 # Vulnerabilities: None
pytest-mock==3.15.1 # Vulnerabilities: None
pytest-runner==6.0.1 # Vulnerabilities: None
pytest-xdist==3.8.0 # Vulnerabilities: None
python-json-logger==4.0.0 # Vulnerabilities: None
ruff==0.14.2 # From 0.14.1 | Vulnerabilities: None
silly==1.1.0 # Vulnerabilities: None
tox==4.32.0 # From 4.31.0 | Vulnerabilities: None
tqdm==4.67.1 # Vulnerabilities: None
twine==6.2.0 # Vulnerabilities: None
