name: Autofill PR description

on:
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'
        required: true
        default: 'warning'

jobs:
  openai-pr-description:
    runs-on: ubuntu-22.04

    permissions:
      pull-requests: write
      issues: write

    steps:
      - uses: platisd/openai-pr-description@master
        with:
          github_token: ${{ github.token }}
          openai_api_key: ${{ secrets.OPENAI_API_KEY }}
          max_tokens: 4096
          openai_model: gpt-5-nano-2025-08-07
          overwrite_description: true
          temperature: 0.6
